* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
	width: 24px;/*safari无法正确计算宽度*/
	overflow: hidden;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

html {
	font: 14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: rgba(0,0,0,.84);
}
body {
	background: rgba(0,0,0,.05);
	padding-bottom: 56px;
	-webkit-tap-highlight-color: transparent;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.hide {
	display: none;
}
.btn-block {
	width: auto;
}

.card,
.section {
	background: #fff;
	border-top: .5px solid rgba(0,0,0,.1);
	border-bottom: .5px solid rgba(0,0,0,.1);
	margin-top: -1px;
}
.section.with-padding {
	padding: 16px;
}
.section.with-margin {
	margin: 16px 0;
}
.card-with-margin {
	margin: 8px 0;
}

.section-scroll-ad {/*顶部轮播的容器*/
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#carousel-top {/*顶部轮播*/
	max-width: 500px;
	flex: 1 0;
	height: 150px;
	font-size: 0;
}
.carousel-inner {
	width: 100%;
	height: 100%;
}
.carousel-inner .carousel-item {
	height: 100%;
	overflow: hidden;
}
.carousel-inner .carousel-item p {
	font-size: 1rem;
	line-height: 2;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-left: 8px;
	background: rgba(0,0,0,.5);
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.4));
	color: #fff;
	margin-bottom: 0;
	padding-top: 1em;
}


.section-scroll-news {/*滚动新闻的容器*/
	padding: 0 16px 8px;
	color: rgba(0,0,0,.54);
	border-top: none;
}
.scroll-news {
	height: 1.5em;
	overflow: hidden;
}
ul.scroll-news-list {
	animation: scroll-news 8s steps(4) infinite;
}
@keyframes scroll-news {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.scroll-news li {
	justify-content: flex-start;
	align-items: center;
}
.scroll-news a {
	display: flex;
	align-items: center;
	color: #1B5E20;
	/*green900*/
}

.scroll-news img {
	margin-right: 8px;
	width: 24px;
}

.section-nav-icons {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	margin: 0;
}
.nav-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.nav-item-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-bottom: 4px;
	color: #4CAF50;
}
.nav-item-icon .material-icons {
	width: 100%;
	color: inherit;
	text-shadow: 1px 2px #E8F5E9;
}
.nav-item-icon img {
	width: 100%;
}
.nav-item-label {
	color: rgba(0,0,0,.54);
	font-size: 12px;
}
.article-list {
	background: #fff;
}
.article-item {
	padding: 16px;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.84);
	border-bottom: .5px solid rgba(0, 0, 0, 0.05);
}
.article-item img {
	margin-right: 16px;
	flex: 0 0 auto;
	float: left;
	width: 100px;
	height: 70px;
}
.article-item h2 {
	font-size: 1.3em;
}
.article-item p {
	max-height: 3em;
	text-overflow: ellipsis;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.54);
	margin: 0;
}
.section-bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: column-reverse;
}

.fab {
	background: tomato;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	padding: 16px;
	box-shadow: 0 0px 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 6;
	margin: 24px 8px;
}
.fab i.fab-add {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
}
.fab-add:before,
.fab-add:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 2px;
	width: 20px;
	height: 2px;
	background: #fff;
}

.fab-add:before {
}
.fab-add:after {
	transform: rotate(90deg);
}


/*bricks*/

.section-bricks {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}
.brick {
	width: 50%;
	height: 160px;
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
}
.brick-title {
	flex: 1 0 100%;
}
.brick-inner {
	flex: 1;
	margin: 4px;
	background: #fff;
	border-radius: 2px;
	border: .5px solid rgba(0,0,0,.12);
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	padding: 16px;
}
.brick-inner img {
	width: 80px;
	margin-bottom: 16px;
}
.brick-inner span {
	color: rgba(0,0,0,.38);
	font-weight: 900;
	font-size: 1em;
}

/*cards*/
body.body-cards {
	background: #444;
	height: 100%;
	padding: 0;
	overflow: hidden;
}
.section-cards {
	position: relative;
	height: 100%;
}
.page-card {
	/*margin: 8px;*/
	width: 100%;
	height: 100%;
	min-height: 600px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0px 8px rgba(0,0,0,.24),0 0 4px rgba(0,0,0,0.14);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(60px);
	transition: transform .4s;

}
.page-card.active {
	/*z-index: 10;*/
}
.page-card:nth-child(1) {
	transform: translateY(60px);
}
.page-card:nth-child(2) {
	transform: translateY(120px);
}
.page-card:nth-child(3) {
	transform: translateY(180px);
}
.page-card:nth-child(4) {
	transform: translateY(240px);
}

.page-card.active {
	transform: translateY(20px);
}
.page-card.drop {
	transform: translateY(100%);
}
.card-head {
	padding: 8px 16px;
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.page-card i {
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 auto;
}
.page-card:nth-child(1) i {
	background-image: url(images/icon-1.png);
}
.page-card:nth-child(2) i {
	background-image: url(images/icon-2.png);
}

.page-card:nth-child(1) {
	color: #6EDC32;
}
.page-card:nth-child(2) {
	color: #9F845E;
}
.page-card:nth-child(3) {
	color: #40ACF9;
}
.card-title {
	font-size: 20px;
	font-weight: 900;
	flex: 1 0 auto;
	color: inherit;
}
.small {
	color: rgba(0,0,0,.38);
	color: inherit;
	opacity: 54;
	-webkit-filter: saturate(.5);

}

/*登陆*/
.login-form,
.register-form,
.user-info-form {
	max-width: 560px;
	margin: 0 auto;
	padding: 8px;
}
.user-info-form {
	padding: 0;
}
body.user {
	background: rgba(0,0,0,.05);
}

.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-with-label label {
	color: rgba(0,0,0,.38);
}

.section-user {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.user-profile {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	overflow: hidden;
	flex: 0 0 auto;
	justify-content: flex-start;
	border: .5px solid #eee;
	margin-right: 8px;
	background: #D9EDF7;
}
.user-profile img {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}
#user-profile-upload {
	position: absolute;
	bottom: -40px;
  left: -8px;
}
#form-profile label[for="input-file"] {
	display: block;
	background: rgba(0,0,0,.8);
	color: #fff;
	border-radius: 2px;
	padding: 4px 8px;
	font-size: .85em;
}
#form-profile input {
	display: none;
}
.user-info {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.user-name {
	font-weight: 700;
	flex: 1 0 100%;
	margin-bottom: 4px
}
.user-desc {
	font-size: .875em;
	color: rgba(0,0,0,.54);
}
.user-tools {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex: 0 0 4em;
	font-size: .875em;
}
/*按钮组*/
.radio-group {
	display: flex;
}
.radio-group input[type="radio"] {
	display: none;
}
label.btn {
	margin-left: -1px;
}
label.btn.first {
	border-radius: .25em 0 0 .25em;
}
label.btn.last {
	border-radius: 0 .25em .25em 0;
}

/*from yjj*/
.hidden-input {
	display: none;
}

input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 3em;
    width: 100%;
   /* border-radius: 4px;*/
    background-color: gray;
}

/* active style goes here */
input[type="checkbox"]:checked+.cell {
	background-color: #FFD600;
	box-shadow: 0 0 10px #FFEB3B;
	color: #fff;
	z-index: 1;
	border-radius: 2px
}
input[type="checkbox"]:checked+.cell>p {
	color: #fff;
}
.range_match {
	margin: 8px 0;
	padding: 8px;
	background: rgb(250,250,250);
	box-shadow: 0 0 8px rgba(0,0,0,.14);
}
.match_id {
	flex: 1 0 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.match_num {
	color: #fff;
	background: #4CAF50;
	width: 40px;
	height: 22px;
	border-radius: 6px 0px;
	text-align: center;
	margin-right: 8px;
}
.match_name {
	flex: 1 0 auto;
	text-align: left;
	color: #4CAF50;
}
.match_date {
	color: rgba(0,0,0,.54);
	font-size: 12px;
}
.match_vs {
	flex: 1 0 100%;
	display: flex;
	text-align: center;
	padding: 0 10%;
}
.match_vs_or {
	margin: 0 auto;
	/*background: red;*/
	width: 300px;
}
.home_team,.vs_team,.away_team {
	flex: 1;
	font-size: 18px;
}
.match_on {
	display: flex;
	flex: 1 0 100%;
}
.match_on .cell {
	height: 3em;
	display: flex;
	justify-content: center;
	background: #fff;
	align-items: center;
	position: relative;
	transition: box-shadow 0.3s ease-out;
}
.match_on .cell p {
	display: flex;
}
.match_on .cell p:first-child {
	justify-content: flex-start;
	margin-right: 4px;
	font-size: 10px;
	color: rgba(0,0,0,.38);
}
.match_on .cell p:last-child {
	justify-content: flex-end;
}
.match_on .cell span {
	color: #FF5252;
	opacity: .84;
}

.match_handicap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 0 1 1em;
    background: green;
    color: white;
	display: none;
}
.handicap_no,
.handicap_yes {
	transform: scale(0.7);
    display: flex;
    line-height: 1.2;
    align-items: center;
}
.handicap_no {
}
.handicap_yes {
}
.changci_header {
	flex: 9 0;
	flex-wrap: wrap;
	display: flex;
	border-radius: 2px;
}
.upload_checkbox {
	width: 100%;
	float: left;
}
.upload_checkbox label {
	width: 100%
}
.match_odds {
	flex: 1 0;
	background: #fff;
}
.row {
	display: flex;
	flex: 1 0 100%;
}
.handicap_li {
	flex: 1 0;
	border: 0.5px solid transparent;
}

/*********弹出层********/

 .match_modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	pointer-events: none;
}

.match_modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.match_modalDialog > div {
	width: 90%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -o-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
background: -moz-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
background: -webkit-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
}

.match_close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}



/*Article page*/
body.article {
	background: #fff;
	padding: 0;
}
header.section-top {
	display: flex;
	flex: 1 0 100%;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	background: #fff;
}
.article .section-top {
	padding-bottom: 0;
}
article.article {
	padding: 16px;
	font-size: 16px;
	line-height: 1.6;
	background: #fff;
}
.article-info {
	color: rgba(0, 0, 0, .54);
}
.article h1 {
	font-size: 1.2em;
	font-weight: bold;
}
.article img {
	width: 100%;
	margin: 1em 0;
}
.article p {
}

.comments {
	padding: 8px 16px;
	background: rgb(245,245,245);
}
.post,
.comment {
	display: flex;
	padding: 8px 0;
}
.comment-avatar {
	flex: 0 0 auto;
	width: 32px;
	height: 32px;
	margin-right: 16px;
	border-radius: 50%;
	border: .5px solid #81C784;
	background: #333;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.comment-avatar img {
	min-width: 100%;
	min-height: 100%;

	margin: 0;
}
.poat_content,
.comment-content {
	flex: 1 0;
}
.comment-head {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.post_pid,
.comment-user-name {
	font-weight: bold;
	margin-right: .5em;
}
.comment-info {
	color: rgba(0,0,0,.38)
}

/*分享*/
section.share {
	background: #fff;
	margin: 16px 0;
	padding: 16px;
}
/*评论*/
.add-comment {
	background: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 8px 0 4px 16px;
	border-bottom: 1px solid rgb(245,245,245);
	position: relative;
}
.add-comment::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #4CAF50;
	transform: scaleX(0) translateY(1px);
	transform-origin: center;
	transition: transform .2s;
}

.add-comment:hover::after {
	transform: scaleX(1) translateY(1px);
}
.comment-textarea {
	border: none;
	flex: 1 0;
	padding: 8px 0;
	outline: none;
	line-height: 2;
}
.comment-send {
	flex: 0 0 auto;
	padding: 4px 16px;
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	color: #4CAF50;
	border: none;
}
/*fab*/

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #2DBE60;
  margin: 8px;
  transition: transform .1s ;
  box-shadow: 0 4px 8px rgba(0,0,0,.14);
}
.fab:active {
  transform: scale(.8);
}
.fab-primary {
  width: 56px;
  height: 56px;

}
.fab-primary .icon {
  background-image: url(icon/ic_add_white_24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  transition: transform .2s;
}
.fab-secondary {
  width: 40px;
  height: 40px;
  animation: show-fab-secondary .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes show-fab-secondary {
  from{
    opacity: 0;
    transform: scale(0);
  }
  20%{
    opacity: 1;
  }
  to{
    opacity: 1;
  }
}

.fab-wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.fab-wrapper:nth-child(1),
.fab-wrapper:nth-child(1) .fab,
.fab-wrapper:nth-child(1) .tag {
  animation-delay: .02s;
}
.fab-wrapper:nth-child(2),
.fab-wrapper:nth-child(2) .fab,
.fab-wrapper:nth-child(2) .tag {
  animation-delay: .04s;
}
.fab-wrapper:nth-child(3),
.fab-wrapper:nth-child(3) .fab,
.fab-wrapper:nth-child(3) .tag {
  animation-delay: .06s;
}
.fab-wrapper:nth-child(4),
.fab-wrapper:nth-child(4) .fab,
.fab-wrapper:nth-child(4) .tag {
  animation-delay: .08s;
}
.fab-wrapper:nth-child(5),
.fab-wrapper:nth-child(5) .fab,
.fab-wrapper:nth-child(5) .tag {
  animation-delay: .1s;
}
.fab-wrapper:nth-child(1) .icon {
  background-image: url(icon/ic_mode_edit_white_24px.svg);
}
.fab-wrapper:nth-child(2) .icon {
  background-image: url(icon/ic_alarm_white_24px.svg);
}
.fab-wrapper:nth-child(3) .icon {
  background-image: url(icon/ic_chat_white_24px.svg);
}
.fab-wrapper:nth-child(4) .icon {
  background-image: url(icon/ic_attachment_white_24px.svg);
}
.fab-wrapper:nth-child(5) .icon {
  background-image: url(icon/ic_camera_alt_white_24px.svg);
}

.fab .icon {
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tag {
  display: block;
  position: absolute;
  right: 64px;
  bottom: 50%;
  margin-bottom: -12px;
  padding: 4px 8px;
  border-radius: 2px;
  font-weight: 500;
  color: rgba(0,0,0,.87);
  background: #eee;
  box-shadow: 0 1px 1px rgba(0,0,0,.24);
  white-space: nowrap;
  animation: show-tag .2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes show-tag {
  from{opacity: 0;}
  30%{opacity: 0;}
  to{opacity: 1;}
}
.section-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column-reverse;
  align-items: center;
  width: 72px;
}
.fabs {
  display: flex;
  flex-flow: column-reverse wrap;
  align-items:center;
  display: none;
}
#fab-toggle {
  display: none;
}
#fab-toggle:checked+.section-fab .fabs {
  display: flex;
}
#fab-toggle:checked+.section-fab .fab-primary .icon {
  transform: rotate(135deg);
}

#fab-toggle:checked+.section-fab .mask-ripple {
  animation: ripple 0.3s ease-in;
  animation-fill-mode: both;
}

.mask {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.mask-ripple {
  width: 230vmax;
  height: 230vmax;
  background: rgba(255,255,255,.95);;
  border-radius: 50%;
  position: absolute;
  right: -115vmax;
  bottom: -115vmax;
  margin-right: 52px;
  margin-bottom: 52px;
  animation: ripple-fade 0.2s ease-in;
  animation-fill-mode: forwards;
}
@keyframes ripple {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ripple-fade {
  from{
    opacity: 1;
    transform: scale(1);
  }
  99%{
    opacity: 0;
    transform: scale(1);
  }
  to{
    opacity: 0;
    transform: scale(0);
  }
}
/*fab end*/


/*bottom-navigation*/

.nav-bottom {
  width: 100vw;
  height: 56px;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #222;
  color: #fff;
}
.nav-bottom-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: width .3s;
  /*min-width: 64px;
  max-width: 96px;*/
  flex: 2 0;
  height: 56px;
  position: relative;
	opacity: .38;
}
/*ripple*/
.nav-bottom-item::after {
  /*content: '';*/
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 200vw;
  height: 200vw;
  margin-left: -100vw;
  margin-bottom: -100vw;
  border-radius: 50%;
  background: tomato;
  z-index: -2;
  transform: scale(0);
  transition: transform 0s .5s;
}
.nav-bottom-item:nth-of-type(1)::after {
  background: #333;
}
.nav-bottom-item:nth-of-type(2)::after {
  background: #4CAF50;
}
.nav-bottom-item:nth-of-type(3)::after {
  background: #3F51B5;
}
.nav-bottom-item:nth-of-type(4)::after {
  background: #FFC107;
}
.nav-bottom-item:nth-of-type(5)::after {
  background: #2196F3;
}
.nav-bottom-item::before {
  /*content: '';*/
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -18px;
  margin-bottom: -18px;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .8s, transform 10s;
}
.nav-bottom-item:active::before {
  transform: scale(5);
  opacity: .1;
  transition: opacity .5s .08s, transform 1s .1s ease-out;
}

.nav-toggle {
  position: absolute;
  display: none;
}
.nav-bottom .material-icons {
	/*safari无法正确计算宽度*/
	width: 24px;
	overflow: hidden;
  margin-top: 16px;
	margin-top: 8px;
  transition: all .2s;
}
.nav-bottom-text {
  font-size: 12px;
  white-space: nowrap;
  /*opacity: 0;*/
  line-height: 1;
	margin-bottom: 10px;
  transition: opacity .1s;
}
.nav-bottom-item.active {
  /*min-width: 96px;
  max-width: 168px;*/
  /*flex: 3 0;*/
	opacity: 1;
}
.nav-bottom-item.active::after {
  transform: scale(1);
  transition: transform .5s;
  z-index: -1;
}
.nav-bottom-item.active .material-icons {
  /*transform: translateY(-10px);*/
}
.nav-bottom-item.active  .nav-bottom-text {
  /*opacity: 1;*/
}


/*fabs*/
.section-fab {
	bottom: 72px;
	z-index: 106;
}


/*Waterfall*/
#item-template {
	display: none;
}
#stage .item {
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	min-height: 100px;
	margin-bottom: 16px;
	line-height: 1;
	animation: fade-in .5s;
}
@keyframes fade-in {
	from{
		opacity: 0;
		/*transform: translateY(32px);*/
	}
	to{opacity: 1;}
}

#stage .item:nth-of-type(3) { animation-delay: .2s; }
#stage .item:nth-of-type(4) { animation-delay: .4s; }
#stage .item:nth-of-type(5) { animation-delay: .6s; }
#stage .item .user-profile {
	width: 40px;
	height: 40px;
	background: #333;
	margin-right: 16px;
}
#stage .item .right {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0;
}
#stage .item .head {
	flex: 1 0 100%;
	display: flex;
	justify-content: space-between;
}
#stage .item .head .user-name {
	flex: 1 0 auto;
	margin: 0;
}
#stage .item .head .time {
	font-size: .85em;
	color: rgba(0,0,0,.54);
}
#stage .item .content-img {
	max-height: 60vw;
	max-width: 60vw;
}
#stage section.content p {
	margin: 12px 0;
}
#stage section.action {
	display: flex;
	flex: 1 0 100%;
	justify-content: flex-start;
	align-items: flex-start;
	color: rgba(0,0,0,.38);
	margin-top: 8px;
}
#stage .action-item {
	display: flex;
	line-height: 1;
	align-items: center;
	margin-right: 16px;
	padding: 8px 0;
	cursor: pointer;
}

#stage .action-item:active {
	transform: scale(1.1);
	color: rgba(0,0,0,.54);
}

#stage section.action .action-item.like.liked,
#stage section.action .action-item.like:hover {
	color: #F44336;
}

#stage .comments {
	padding: 8px;
	flex: 1 0;
}

.section-add-comment {
	/*position: fixed;*/
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
	z-index: 112;
}
.section-add-comment.show {
	display: flex;
}

.inner-add-comment {
	display: flex;
	align-items: center;
	flex: 1 0 100%;
	max-width: 100%;
	padding: 8px 8px;
	background: #fff;
	box-shadow: 0 -1px 5px rgba(0,0,0,.12);
}
.input-comment {
	flex: 1 0;
	padding: 8px;
	outline: none;
	font-size: 1em;
	line-height: 1.5;
	max-width: 80%;
	border: none;
}
.btn-comment-send {
	flex: 0 0 auto;
	background: #2DBE60;
	border: none;
	padding: 4px 8px;
	margin: 8px;
	color: #fff;
	border-radius: 2px;
	font-weight: 700;
	font-size: 1.14em;
}

/*publish*/
section.publish {
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.12);
}
section.publish a {
	color: #2DBE60;
}
.publish-input {
	margin: 0 16px;
	color: rgba(0,0,0,.54);
	line-height: 1.5;
	outline: none;
}
.publish-tools {
	margin: 16px;
}
