* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font: 14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: rgba(0,0,0,.84);
}
body {
	background: rgba(0,0,0,.05);
	padding-bottom: 56px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #FF5252;/*red200*/
}

.card,
section {
	background: #fff;
	border-top: .5px solid rgba(0,0,0,.1);
	border-bottom: .5px solid rgba(0,0,0,.1);
	margin-top: -1px;
}
section.with-padding {
	padding: 16px;
}
section.with-margin {
	margin: 16px 0;
}

.card-with-margin {
	margin: 8px 0;
}

.section-scroll-ad {/*顶部轮播的容器*/
	display: flex;
	justify-content: center;
}

#carousel-top {/*顶部轮播*/
	max-width: 540px;
	flex: 1 0;
	height: 100px;
}
.section-scroll-news {/*滚动新闻的容器*/
	padding: 4px 8px;
	color: rgba(0,0,0,.54);
}
.scroll-news {
	height: 1.5em;
	overflow: hidden;
}
ul.scroll-news-list {
	animation: scroll-news 8s steps(4) infinite;
}
@keyframes scroll-news {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.scroll-news li {
	align-items: center;
}
.scroll-news a {
	display: flex;
	align-items: center;
}

.scroll-news img {
	margin-right: 8px;
}


.section-nav-icons {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	margin: 0;
}
.nav-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav-item-icon {
	width: 48px;
	height: 48px;
	background: #eee;
	border-radius: 50%;

}
.nav-item-label {
	color: rgba(0,0,0,.38);
	display: none;
}
.article-item {
	display: flex;
	padding: 8px 8px;
}
.article-item img {
	margin-right: 8px;
	flex: 0 0 auto;
}
.section-bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: column-reverse;
}
.nav-bottom {
	display: flex;
	background: #fff;
	border-top: .5px solid rgba(0,0,0,.1);
}

.nav-bottom-item {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav-bottom-item .icon {
	display: flex;
	width: 32px;
	height: 32px;
}
.nav-bottom-item .icon img {
	width: 100%;
}
.nav-bottom-item .icon-label {
	flex: 1 0 100%;
	text-align: center;
	color: rgba(0,0,0,.38);
	transform: scale(.8);
	line-height: 1;
}

.fab {
	background: tomato;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	padding: 16px;
	box-shadow: 0 0px 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 6;
	margin: 8px;
}
.fab i.fab-add {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
}
.fab-add:before,
.fab-add:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 2px;
	width: 20px;
	height: 2px;
	background: #fff;
}

.fab-add:before {
}
.fab-add:after {
	transform: rotate(90deg);
}


/*bricks*/

.section-bricks {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}
.brick {
	width: 50%;
	height: 160px;
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
}
.brick-title {
	flex: 1 0 100%;
}
.brick-inner {
	flex: 1;
	margin: 4px;
	background: #fff;
	border-radius: 2px;
	border: .5px solid rgba(0,0,0,.12);
	display: flex;
	align-items: center;
	flex-flow: column nowrap;

	padding: 16px;
}
.brick-inner img {
	width: 80px;
	margin-bottom: 16px;
}
.brick-inner span {
	color: rgba(0,0,0,.38);
	font-weight: 900;
	font-size: 1em;
}

/*cards*/
body.body-cards {
	background: #444;
	height: 100%;
	padding: 0;
	overflow: hidden;
}
.section-cards {
	position: relative;
	height: 100%;
}
.page-card {
	/*margin: 8px;*/
	width: 100%;
	height: 100%;
	min-height: 600px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0px 8px rgba(0,0,0,.24),0 0 4px rgba(0,0,0,0.14);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(60px);
	transition: transform .4s;
	
}
.page-card.active {
	/*z-index: 10;*/
}
.page-card:nth-child(1) {
	transform: translateY(60px);
}
.page-card:nth-child(2) {
	transform: translateY(120px);
}
.page-card:nth-child(3) {
	transform: translateY(180px);
}
.page-card:nth-child(4) {
	transform: translateY(240px);
}

.page-card.active {
	transform: translateY(20px);
}
.page-card.drop {
	transform: translateY(100%);
}
.card-head {
	padding: 8px 16px;
	height: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.page-card i {
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 0 auto;
}
.page-card:nth-child(1) i {
	background-image: url(images/icon-1.png);
}
.page-card:nth-child(2) i {
	background-image: url(images/icon-2.png);
}

.page-card:nth-child(1) {
	color: #6EDC32;
}
.page-card:nth-child(2) {
	color: #9F845E;
}
.page-card:nth-child(3) {
	color: #40ACF9;
}
.card-title {
	font-size: 20px;
	font-weight: 900;
	flex: 1 0 auto;
	color: inherit;
}
.small {
	color: rgba(0,0,0,.38);
	color: inherit;
	opacity: 54;
	-webkit-filter: saturate(.5);
	
}

/*登陆*/
.login-form,
.register-form,
.user-info-form {
	max-width: 560px;
	margin: 0 auto;
}
body.user {
	background: rgba(0,0,0,.05);
}

.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-with-label label {
	color: rgba(0,0,0,.38);
}

.section-user {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.user-profile {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	overflow: hidden;
	flex: 0 0 auto;
	justify-content: flex-start;
	border-radius: 50%;
	border: .5px solid #eee;
	margin-right: 8px;
	background: #D9EDF7;
}
.user-info {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.user-name {
	font-weight: 700;
	flex: 1 0 100%;
	margin-bottom: 4px
}
.user-desc {
	font-size: .875em;
	color: rgba(0,0,0,.54);
}
.user-tools {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex: 0 0 4em;
	font-size: .875em;
}
/*按钮组*/
.radio-group {
	display: flex;
}
.radio-group input[type="radio"] {
	display: none;
}
label.btn {
	margin-left: -1px;
}
label.btn.first {
	border-radius: .25em 0 0 .25em;
}
label.btn.last {
	border-radius: 0 .25em .25em 0;
}

/*from yjj*/
#click_checkbox_s,#click_checkbox_p,#click_checkbox_f,#click_checkbox_rs,#click_checkbox_rp,#click_checkbox_rf  {
	display: none;
}
#click_checkbox_s +.match_s {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_s:checked +.match_s {
	background: red;
}
#click_checkbox_p +.match_p {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_p:checked +.match_p {
	background: red;
}
#click_checkbox_f +.match_f {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_f:checked +.match_f {
	background: red;
}
#click_checkbox_rs +.match_rs {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_rs:checked +.match_rs {
	background: red;
}
#click_checkbox_rp +.match_rp {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_rp:checked +.match_rp {
	background: red;
}
#click_checkbox_rf +.match_rf {
	border:1px solid #999;
	position: absolute;
	overflow: hidden;
	width: 26.5%;
	height: 42px;
}
#click_checkbox_rf:checked +.match_rf {
	background: red;
}
.range_match {
	float: left;
	border: 1px solid #03B2FF;
	padding: 5px;
	width: 100%;	
	background: #e6e6e6;
	text-align: center;
}
.match_id {
	overflow: hidden;
}
.match_id ul {
	height: 20px;
	width: 100%;
}
.match_id ul li{
	float: left;
	margin: 0 10px;
}
.match_num {
	color: #fff;
	background: #008CCA;
	width: 40px;
	height: 22px;
	border-radius: 6px 0px;
}
.match_vs {
	width: 100%;
}
.match_vs_or {
	margin: 0 auto;
	/*background: red;*/
	width: 200px;
}
.home_team,.vs_team,.away_team {
	float: left;
	width: 33.3%;
}
.home_team,.vs_team,.away_team p {
	font-size: 20px;
}
.match_on {
	width: 100%;
	height: 82px;
	float: left;
}
.match_handicap {
	font-size: 12px;
	float: left;
	width: 5%;
}
.handicap_no {
	float: left;
	width: 100%;
	height: 41px;
	background: #F7FFF3;
}
.handicap_yes {
	float: left;
	width: 100%;
	height: 41px;
	background: #A5A5A5;
}
.changci_header {
	float: left;
	width: 81%;
	height: 81px;
	background: #565
}
.upload_checkbox {
	float: left;
}
.match_odds {
	float: left;
	width: 14%;
	background: pink;
	height: 100%;
}
.handicap_li {
	float:left; 
	width:33.2%;
	height:40px;
}

/*********弹出层********/

 .match_modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 250ms ease-in;
	-moz-transition: opacity 250ms ease-in;
	transition: opacity 250ms ease-in;
	pointer-events: none;
}

.match_modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.match_modalDialog > div {
	width: 90%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -o-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
background: -moz-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
background: -webkit-linear-gradient(bottom, rgb(245,245,245) 25%, rgb(232,232,232) 63%);
}

.match_close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.match_close:hover { background: #57a2d1; }
