* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font: 14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: rgba(0,0,0,.84);
}
body {
	background: rgba(0,0,0,.05);
	padding-bottom: 56px;
}

ul {
	list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: tomato;
}

.card {
	background: #fff;
	border-top: .5px solid rgba(0,0,0,.1);
	border-bottom: .5px solid rgba(0,0,0,.1);
	margin-top: -1px;
}
.card-with-margin {
	margin: 8px 0;
}

.section-scroll-ad {/*顶部轮播的容器*/
	display: flex;
	justify-content: center;
}

#carousel-top {/*顶部轮播*/
	max-width: 540px;
	flex: 1 0;
	height: 100px;
}
.section-scroll-news {/*滚动新闻的容器*/
	padding: 4px 8px;
	color: rgba(0,0,0,.54);
}
.scroll-news {
	height: 1.5em;
	overflow: hidden;
}
ul.scroll-news-list {
	animation: scroll-news 8s steps(4) infinite;
}
@keyframes scroll-news {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.scroll-news li {
	align-items: center;
}
.scroll-news a {
	display: flex;
	align-items: center;
}

.scroll-news img {
	margin-right: 8px;
}


.section-nav-icons {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	margin: 0;
}
.nav-item {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav-item-icon {
	width: 48px;
	height: 48px;
	background: #eee;
	border-radius: 50%;

}
.nav-item-label {
	color: rgba(0,0,0,.38);
	display: none;
}
.article-item {
	display: flex;
	padding: 8px 8px;
}
.article-item img {
	margin-right: 8px;
	flex: 0 0 auto;
}
.section-bottom {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: column-reverse;
}
.nav-bottom {
	display: flex;
	background: #fff;
	border-top: .5px solid rgba(0,0,0,.1);
}

.nav-bottom-item {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.nav-bottom-item .icon {
	display: flex;
	width: 32px;
	height: 32px;
	background: #eee;
}
.nav-bottom-item .icon-label {
	flex: 1 0 100%;
	text-align: center;
	color: rgba(0,0,0,.38);
	transform: scale(.8);
	line-height: 1;
}

.fab {
	background: tomato;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	padding: 16px;
	box-shadow: 0 0px 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 6;
	margin: 8px;
}
.fab i.fab-add {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
}
.fab-add:before,
.fab-add:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 2px;
	width: 20px;
	height: 2px;
	background: #fff;
}

.fab-add:before {
}
.fab-add:after {
	transform: rotate(90deg);
}